{% extends 'base.html' %}

{% block content %}


  <body>

<!-- SIGN IN
    ============================== -->
    <div class="sign-in-up__wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <h4 class="heading sign-in-up__heading">Log in.</h4>
            <p class="heading__sub sign-in-up-heading__sub">
              Please log in.
            </p>           

            <form class="form_alt sign-in-up__form" role="form" method="post" action="">
              <div class="form-group" >
                {{ form.csrf_token }}
                <input type="text" class="form-control" {{ form.username(placeholder="Username") }}

              </div>
              <div class="checkbox">
              {% if form.username.errors %}
                {% for error in form.username.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
              </div>
              <div class="form-group">            
                <input type="password" class="form-control" {{ form.password(placeholder="Password") }}
              </div>
              <div class="checkbox">
              {% if form.password.errors %}
                {% for error in form.password.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
              </div>
              <button type="submit" class="btn btn-block btn-primary">Sign in</button>
              <div class="checkbox">
              {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}</p>
              {% endif %}
              </div>
            </form>

            <!-- Sign Up link -->
            <div class="sign-in-up__footer">
              Not registered? <a href="/register">Create an Account</a>
            </div>

          </div>
        </div>
      </div> <!-- / .container -->
    </div> <!-- / .sign-in-up__wrapper -->

    

{% endblock %}